@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


ul.nav-tabs > li.nav-item > button.active {
  background-color: #344FA1;
  color: white;
}

.nav-item {
  font-size: 1rem;
  font-weight: 400;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 0.8rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

body, p, card-body, li, ul {
  font-weight: 300;
  font-size: 0.9rem;
}

.footer {
  border-top: solid 2px #6bbbc4;
  background-color: #DEEDF0;
  width: 100%;
}

header {
  background: url(./components/water-gardens-banner.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 13vh;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

.sub-header {
  direction : flex;
  text-align: center;
  margin: 10px auto;
  font-weight: 300;
  color: #344FA1;
}

.card-title {
  margin: 3px auto;
}

.popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0.25, 0.25, 0.25, 0.5);
}
  
.popup {
  position: fixed;
  width: 50%;
  height: 50vh;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.card-img-top {
  max-height: 50vh;
  max-width: 400px;
}

/* Star Ratings CSS */
.fa-leaf {
  color: #17a151; /* for rendering ratings not for input*/
}

/* To handle input rating level */
.starrating > input {display: none;}  /* Hide the radio buttons */

.starrating > label:before { 
  content: "\f06c"; /* leaf f06c heart f004 star f005*/
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #d2e7c5; /* Start lighter color when not clicked */
}

.starrating > input:checked ~ label
{ color: #17a151 ; } /* Set  color when star checked */

.starrating > input:hover ~ label
{ color: #17a151 ;  } /* Set  color when star hover */


/* -------------------------------------------------- */
/* Mobile-first Responsive Design                     */
/* -------------------------------------------------- */
/* Ipad */
@media screen and (min-width:768px) {
  header {
    height: 15vh;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
  }

  body, p, card-body, li, ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }

  header h1 {
    font-size: 2rem;
    font-weight: 700;
  }

}

/* laptop */
@media screen and (min-width:1200px) {

  header h1 {
    font-size: 2.5rem;
  }
}
