@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

ul.nav-tabs > li.nav-item > button.active {
  background-color: #344FA1;
  color: white;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

footer {
  /* border-top: solid 3px #2F5D62; */
  background-color: #DEEDF0;
  width: 100%;
}

header {
  background: url(./components/water-gardens-banner.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 15vh;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
}

.popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0.25, 0.25, 0.25, 0.5);
}
  
.popup {
  position: fixed;
  width: 50%;
  height: 50vh;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.card-img-top {
  max-height: 50vh;
  max-width: 400px;
}

/* Star Ratings CSS */
.fa-leaf {
  color: #17a151; /* for rendering ratings not for input*/
}

/* To handle input rating level */
.starrating > input {display: none;}  /* Hide the radio buttons */

.starrating > label:before { 
  content: "\f06c"; /* leaf f06c heart f004 star f005*/
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #d2e7c5; /* Start lighter color when not clicked */
}

.starrating > input:checked ~ label
{ color: #17a151 ; } /* Set  color when star checked */

.starrating > input:hover ~ label
{ color: #17a151 ;  } /* Set  color when star hover */

