@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

ul.nav-tabs > li.nav-item > button.active {
  background-color: #344FA1;
  color: white;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

footer {
  /* border-top: solid 3px #2F5D62; */
  background-color: #DEEDF0;
  width: 100%;
}

header {
  background: url(./components/water-gardens-banner.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 20vh;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
}

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0.25, 0.25, 0.25, 0.5);
  }
  
  .popup {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }


  .card-img-top {
    max-height: 300px;
    max-width: 300px;
  }